.ul{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    line-height: 30px;
    font-family: Arial, Helvetica, sans-serif;

    
}

.h1{
    background-color: bisque;
    border: 2px solid rgb(250, 192, 120);
    text-align: center;
    margin-top: 30px;
    padding: 20px;

}

.li{
    margin-right: 20px;
}

